@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

body {
    background: url(./images/space.jpg) no-repeat;
    background-size: 100vw 100vh, cover;
}

.container {
    margin-top: 30vh;
}

h1 {
    font-size: 5rem;
    color: white;
    letter-spacing: 0.8vw;
    text-shadow: 5px 5px 10px #000000;
    margin: 2rem;
}

#start {
    font-size: 2rem;
    color: white;
    background-color: #00010680;
    border-radius: 15px;
    padding: 1rem;
    margin: 0 18%;
    cursor: pointer;
    box-shadow: 5px 5px 10px #000000;
}
.desc {
    font-size: 1.2rem;
    color: white;
}