@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800&family=Bruno+Ace&family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

h1 {
    font-size: 5rem;
    -webkit-text-fill-color: navy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellowgreen;
    letter-spacing: 0.8vw;

}
#start {
    font-family: 'Albert Sans', sans-serif;
    font-size: 2rem;
    color: navy;
    background-color: yellowgreen;
    border-radius: 15px;
    padding: 1rem;
    margin: 0 18%;
    cursor: pointer;
}